extends layout

block content
	.viewport
		canvas#game
		canvas#debug
	script(src='socket.io/socket.io.js')
	script(src='lib/createjs.js')
	script(src='lib/Box2dWeb-2.1.a.3.min.js')
	script(src='js/manager.js')
	script(src='js/body.js')
	script(src='js/bullet.js')
	script(src='js/assassin.js')
	script(src='js/box2d.js')
	script(src='js/stage.js')
	script(src='js/socket.js')
	script(src='js/wallsAndFloor.js')
	script(src='js/main.js')
	script(src='js/canvas.js')

